<div class="grid place-items-start dropdown-container w-full h-auto">
  <span class="w-full">
    {% render 'icon-hamburger' %}
    </span>
  {% for link in section.settings.menu.links %}
    <details class="mt-[1rem] hidden {% if forloop.index == 3 %}mb-[1rem]{% endif %}">
      <summary>{{ link.title }}</summary>
      {% for childlink in link.links %}
        <details class="childlink-container">
          <summary>{{ childlink.title }}</summary>
          <ul class="grandchildlink-container">
            {% for grandchildlink in childlink.links %}
              <li>{{ grandchildlink.title }}</li>
            {% endfor %}
          </ul>
        </details>
      {% endfor %}
    </details>
  {% endfor %}
</div>

{% stylesheet %}
  ul {
    list-style: none;
  }
  .dropdown-container, .childlink-container, .grandchildlink-container{
    margin-left:1rem;
  }
{% endstylesheet %}
{% schema %}
{
  "name": "nav-bar",
  "class": "section",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    }
  ]
}
{% endschema %}
