<div class="grid place-items-start dropdown-container w-full h-auto">
  <details class="hamburger-menu">
    <summary
      class="header__icon header__icon--menu header__icon--summary link focus-inset"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      <span>
        {% render 'icon-hamburger-2' %}
        {% render 'icon-close-2' %}
      </span>
    </summary>
    {% for link in section.settings.menu.links %}
      <details class="mt-[1rem] {% if forloop.index == 3 %}mb-[1rem]{% endif %} first-row">
        <summary>{{ link.title }}</summary>
        {% for childlink in link.links %}
          <details class="childlink-container">
            <summary>{{ childlink.title }}</summary>
            <ul class="grandchildlink-container">
              {% for grandchildlink in childlink.links %}
                <li>{{ grandchildlink.title }}</li>
              {% endfor %}
            </ul>
          </details>
        {% endfor %}
      </details>
    {% endfor %}
  </details>
</div>

{% stylesheet %}
  ul {
    list-style: none;
  }
  .dropdown-container,
  .childlink-container,
  .grandchildlink-container {
    margin-left: 1rem;
  }
  .hamburger-menu[open] > .icon-hamburger-2 {
    display: none;
  }
  .hamburger-menu > .icon-hamburger-2 {
    display: block;
  }
  .hamburger-menu[open] > .icon-close-2 {
    display: block;
  }
  .hamburger-menu > .icon-close-2 {
    display: none;
  }
  @media screen and (min-width: 750px) {
    .icon-close-2,
    .icon-hamburger-2 {
      display: none;
    }
    .hamburger-menu {
      display: grid;
      grid-auto-flow: column;
      place-items: center;
    }
  }
{% endstylesheet %}
{% javascript %}
  const hamburgerMenu = document.getElementsByClassName('hamburger-menu');
  console.log(hamburgerMenu);
  const hamburgerMenuQuery = document.querySelector('.hamburger-menu');
  console.log(hamburgerMenuQuery);
  const iconHamburgerBtn = document.getElementsByClassName('icon-hamburger-2');
  const iconCloseBtn = document.getElementsByClassName('icon-close-2');

  hamburgerMenuQuery.addEventListener('toggle', (e) => {
    iconHamburgerBtn.style.display = 'none';
    iconCloseBtn.style.display = 'block';
  });
{% endjavascript %}
{% schema %}
{
  "name": "nav-bar",
  "class": "section",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    }
  ]
}
{% endschema %}
